<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.0.2" targetFramework="winrt45" />
  <package id="SQLite" version="3.13.0" targetFramework="win81" />
  <package id="sqlite-net" version="1.0.7" targetFramework="winrt45" />
  <package id="Sqlite-Winrt" version="3.8.7.1" targetFramework="win81" />
  <package id="SQLitex64" version="1.0.66" targetFramework="winrt45" />
  <package id="WinRTXamlToolkit" version="1.4.4.1" targetFramework="winrt45" />
</packages>